.todo-list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  margin-bottom: 1px;
  transition: 0.2s;
}

.todo-list-item:hover {
  height: 150px;
  font-size: 30px;
}
.todo-list {
  padding-left: 0;
}
