.todo-add-new {
  display: flex;
  justify-content: space-between;
}

.todo-input {
  width: 80%;
  margin: 0 auto;
  font-size: 24px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s;
}

.todo-input:focus {
  outline: none;
  border: 1px solid blue;
}

.todo-input::placeholder {
  opacity: 0.4;
}
