.todo-add-button {
  font-family: "Courier New", Courier, monospace;
  width: 20%;
  font-size: 24px;
  background-color: darkblue;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.todo-add-button:hover {
  color: darkblue;
  background-color: #fff;
}
